# Bootstrap
app/bootstrap*
composer.phar

# Symfony directories
bin/
build/
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml


